
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 200px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background-color: #8f2c87;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 1em;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #ffbb00;
}
